@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    iPRC Official website
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v1.0 - 201905
*
**/

/*
=====================================
大筆電
=====================================
*/
@media (max-width:1500px) {
#header-main{ padding: 30px 9.5%}
#main-nav ul{ right:10%}    
#container_service li,
#container_service h3,
.service_info,
.service_info p{ width: 225px}
.service_info,
.service_info p{ height: 450px}
.info-01,
.info-02,
.info-03,
.info-04,
.info-05{ background-position: top center}
#container_team h2{
    width: 39%;
    background-size: 400px 174px;
    background-position: 0 200px}
#team_info{ width: 60%}
    
#container_work{ width: 95%}    
#container_work li li,
#container_work .work-title{
    width: 250px;
    height: 150px}
#container_work li{ margin: 0}
#container_work .work-title>span{
    top: 30%;
    bottom: 20%}
    
#container_customer{
    width: 100%}
#container_customer img{
    width: 33%;
    height: auto}
    
}

@media (max-width:1400px) {
#header-main{ padding: 30px 6%}      
#container_service li,
#container_service h3,
.service_info,
.service_info p{ width: 200px}
.service_info,
.service_info p{ height: 400px}
#our_customer li{ font-size: 1.35rem}
#our_customer li:nth-child(1),
#our_customer li:nth-child(2),
#our_customer li:nth-child(3),
#our_customer li:nth-child(4),
#our_customer li:nth-child(5),
#our_customer li:nth-child(6),
#our_customer li:nth-child(7),
#our_customer li:nth-child(8){ 
    background-size: 60px 60px;
    background-position: top center}
#container_work li li,
#container_work .work-title{
    width: 240px;
    height: 144px}
#container_work li li{ margin: 5px}
#container_work .work-title>span{
    top: 30%;
    bottom: 20%}
#container_customer{
    width: 100%}
#container_customer img{
    width: 33%;
    height: auto}
}

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#wrap,
header,
#box_service,
#box_team,
#box_work,
#box_customer,
footer,
#tocontact,
#company-info,
#copyright{ min-width: 0}

#menu{ width: 90%}
#header-main{
    display: block;
    position: absolute;
    /*top: 50px;
    left: 50%;
    margin-left: -47%;
    width: 95%;*/
    min-width: 0}    
#main-nav{ width: 60%}
#main-nav ul{ right:5%}       
#contact-us{ width: 90%}
#main-nav li:hover li a,
#main-nav li.iehover li a{ right: -250px}

#container_service ul{ width: 95%}
#container_service li{ margin: 0 .5%}
#container_service h3{ font-size: 1.5rem}
#container_service li,
#container_service h3,
.service_info,
.service_info p{ width: 165px}
.service_info,
.service_info p{ height: 400px}
.service_info p{ 
    padding: 0 0 10px 10px}

#container_team h2,
#team_info{ float: none; width: 100%}
#container_team h2{
    height: 150px;
    background-size: 300px 131px;
    background-position: 50% 0;
    margin: 0 auto 30px auto}

#container_work{ width: 98%}       
#container_work li li,
#container_work .work-title{
    width: 185px;
    height: 111px}
#container_work .work-title>span{
    top: 30%;
    bottom: 30%}
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
#main-nav{ width: 70%}

#container_service ul{ justify-content:center}
#container_service li{ margin: 0 .5% 30px}
#container_service li:nth-child(4){ 
    margin: 0 .5% 30px 100px}
#container_service li,
#container_service h3,
.service_info,
.service_info p{ width: 230px}
.service_info,
.service_info p{ height: 400px}
.service_info p{ 
    padding: 0 0 10px 10px}
    
#container_work li{ 
    width: 45%;
    margin-bottom: 20px}    
#container_work li li{
    margin: 5px;
    width: 100%}
/*#container_work img{
    display: block;
    width: 328px;
    height: 197px}*/
#container_work .work-title{ width: 100%}
#container_work li li,
#container_work .work-title{ height: 100%}
#container_work .work-title>span{
    top: 35%;
    bottom: 35%}
#container_customer img{
    width: 100%;
    height: auto}
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
#box_service,
#box_team,
#box_work,
#box_customer{
    padding: 30px 0}
#menu a{ padding:0 10px}
#main-nav{ width: 80%}
#main-nav li{
    letter-spacing: .2rem;
    margin: 0 8px}
#main-nav li:hover li a,    
#main-nav li.iehover li a{ 
    top: 15px;
    right: -180px;
    line-height: 2.5rem}  
    
#contact-us h2 a{
    width: 180px;
    height: 119px;
    background-size: contain;
    margin-top: 50px;}
#company-address{
    width: 65%;
    padding: 0 0 0 20px}

#container_service li,
#container_service h3,
.service_info,
.service_info p{ 
    width: 270px}
#container_service li:nth-child(4){ 
    margin: 0 .5% 30px 0}

#our_customer{
    display: block;
    width: 94%;
    margin: 0 auto}
#our_customer li{
    display: inline-block;
    width: 120px;
    margin-bottom: 30px;
    padding-top: 70px}
#container_work img{
    display: block;
    width: 256px;
    height: 153px}
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
#box_work{ padding-bottom: 10px}
#top-bar{ display: none}
#header-main{ 
    position:fixed;
    top:0;
    left: 0;
    z-index: 999;
    margin: 0;
    width: 100%;
    padding: 20px 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;}
#main-nav{ display: none}
h1 a{
    float: none;
    margin: 0 auto}
#header-main .fa-bars,
#header-main .fa-envelope{
    display: block;
    position: absolute;
    top:20px;
    font-size: 3.5rem;
    color: #fff}
#header-main .fa-bars{ left: 20px}
#header-main .fa-envelope{ right: 20px}
#header-main .fa-bars:hover,
#header-main .fa-envelope:hover{ color: #77BD1F}

#container_service ul{
    display: block;
    width: 95%;
    margin: 0 auto}
#container_service li,
#container_service li:nth-child(4){
    display: block;
    width: 300px;
    margin: 0 auto 30px auto}
#container_service h3,
.service_info,
.service_info p{
    width: 300px;
    margin: 0 auto}
.service_info,
.service_info p{ 
    height: 350px}
.service_info p{ 
    padding: 0 0 20px 20px}
    
#container_team h2{
    height: 100px;
    background-size: contain;
    background-position: 50% 0;
    margin: 0 auto 30px auto}
#our_customer{
    display: block;
    width: 100%;
    margin: 0 auto}
#our_customer li{
    display: inline-block;
    width: 45%;
    margin-bottom: 30px;
    padding-top: 70px}

#container_work li{ 
    width: 95%;
    margin: 0 auto 20px auto}
#container_work h3{
    display: block;
    width: 100%;
    height: 40px}
#container_work li:nth-child(3)>h3{
    height: 60px}
#container_work li li img{ 
    width: 100%;
    height: auto}   

#container_customer img{
    width: 100%;
    height: auto}    

#tocontact a{
    width: 90%;
    font-size: 1.8rem}    
#contact-us{ padding-top: 30px}
#contact-us h2 a{
    float: none;
    margin: 0 auto 30px auto}
#company-address{
    width: 100%;
    padding: 0} 
#company-address h4{
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 8px}
#copyright{
    padding: 20px 50px;
    font-size: 1.2rem;
    line-height: 2rem}
}

@media (max-width: 400px) { 
#container_work img{
    display: block;
    width: 324px;
    height: 194px}
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/

#tocontact a{
    width: 90%;
    font-size: 1.5rem}
#company-info{ height: 400px}    
#contact-us{ padding-top: 30px}
#contact-us h2 a{
    width: 150px;
    height: 99px;
    margin: 0 auto 30px auto}
#company-address{
    width: 100%;
    padding: 0} 
#company-address h4{
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-bottom: 8px}
#company-address p{
    font-size: 1.3rem;
    line-height: 2rem}
#container_work img{
    display: block;
    width: 275px;
    height: 165px}

}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), (min-resolution: 192dpi){
    .foot-logo,
    #top-menu h2 a{
        background: url(../images/logo-footer@3x.png) no-repeat;
        background-size: cover} 
    
}