@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    iPRC Official website
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v1.0 - 201905
*
**/

@media (max-width:1500px) {
#main-nav ul{ right:10%}     
#filters{
    display: block;
    width: 90%;
    margin: 0 auto 30px auto}
.grid,
#project-main,
#maybelike{
    display: block;
    width: 95%;
    margin: 0 auto}
#maybelike{ padding-top: 30px}    
.grid-item{ margin: 15px 17px}
#project-main img{
    display: block;
    width: 100%;
    height: auto}
}

@media (max-width:1400px) {
#box_establish img{
    width: 95%;
    height: auto} 
#filters{ width: 95%}
.grid-item{ margin: 15px 8px}
}



/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
#wrap,
header,
#container,
footer,
#tocontact,
#company-info,
#copyright,
#box_imagewall,
#box_establish,
#box_team,
#box_belief,
#box_strategy,
#box_strength{ min-width: 0}
#header-main{ width: 95%; min-width: 0}

#menu{ width: 90%}
#main-nav{ width: 50%}
#main-nav li:hover li a,
#main-nav li.iehover li a{ right: -250px}    
#contact-us{ width: 90%}

#box_imagewall img,
#box_establish img,
#box_belief img{
    width: 95%;
    height: auto} 
#team_main{ width: 95%}
#team_main .team-word{ margin: 0 100px}
.line{
    width: 95%;
    height: 32px;
    background-size: contain}
#filters{ width: 90%; margin: 0 auto}
#filters a{margin-bottom: 20px}
.grid-item{ margin: 15px 9px}
   
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
#main-nav{ width: 70%}

#box_belief{ overflow: hidden}    
#box_belief img{
    width: 115%;
    height: auto;
    margin-left: -60px}    
#box_strategy img,
#box_strength img{ 
    width: 95%;
    height: auto}
#team_main li{
    display: block;
    width: 95%;
    margin: 0 auto}
#team_main li>img{
    float: none;
    padding: 0;
    margin: 0 auto}
#team_main .team-word{ margin: 0 50px}
.team-service{
    float: none;
    width: 95%;
    min-height: 0;
    padding-right: 0;
    margin: 0 auto 20px auto;
    text-align: center}
.grid-item{ margin: 15px 29px}
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
#menu a{ padding:0 10px}
#main-nav{ width: 80%}
#main-nav li{
    letter-spacing: .2rem;
    margin: 0 8px}
#main-nav li:hover li a,    
#main-nav li.iehover li a{ 
    top: 15px;
    right: -180px;
    line-height: 2.5rem}      
#contact-us h2 a{
    width: 180px;
    height: 119px;
    background-size: contain;
    margin-top: 50px;}
#company-address{
    width: 65%;
    padding: 0 0 0 20px}
    
/*#box_imagewall,
#box_establish{ display: none}*/
#box_belief img{
    width: 120%;
    height: auto;
    margin-left: -60px}      
.grid-item{
    display: block;
    width: 80%;
    height: auto;
    margin: 15px auto;
    background: #fff;
    padding: 10px 10px 30px}
.grid-item img{
    display: block;
    width: 58%;
    height: auto
    /*width: 280px;
    height: 415px*/}
.p-info,
a:hover>.p-info{ 
    display: block;
    width: 80%;
    margin: 0 auto 15px auto}
.p-tag,
#box_project-foot .p-tag{
    width: 80%;
    margin: 0 auto}    
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
#top-bar{ display: none}    
#header-main{ 
    position:fixed;
    z-index: 999;
    width: 100%;
    padding: 20px 0 25px;
    background:rgba(0, 0, 0, .3)}
#main-nav{ display: none}
h1 a{
    float: none;
    background: url(../images/h1.png) no-repeat;
    background-size: contain;
    margin: 0 auto}
#header-main .fa-bars,
#header-main .fa-envelope{
    display: block;
    position: absolute;
    top:20px;
    font-size: 3.5rem;
    color: #fff}
#header-main .fa-bars{ left: 20px}
#header-main .fa-envelope{ right: 20px}
#header-main .fa-bars:hover,
#header-main .fa-envelope:hover{ color: #3e3935}

#tocontact a{
    width: 90%;
    font-size: 1.8rem}    
#contact-us{ padding-top: 30px}
#contact-us h2 a{
    float: none;
    margin: 0 auto 30px auto}
#company-address{
    width: 100%;
    padding: 0} 
#company-address h4{
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 8px}
#copyright{
    padding: 20px 50px;
    font-size: 1.2rem;
    line-height: 2rem}
    
#container{ padding-top: 110px}
#team_main .team-word{ margin: 0 30px}
#box_strength h4{ 
    font-size: 1.6rem;
    padding: 50px 20px 0}
#box_belief img,
#box_imagewall img,
#box_establish img{
    width: 100%;
    height: auto;
    margin-left: 0} 
    
/*.grid-item{ 
    height: 670px; margin: 10px 15px}*/
.grid-item img{ width: 100%}
.p-info,
a:hover>.p-info,
.p-tag,
#box_project-foot .p-tag{ width: 100%}    
.btn_previous,
.btn_next{ display: none}
#bar_PageNumber span{ padding: 0 15px}
#box_belief,
#box_strategy,
#box_strength{ padding: 25px 0}    
    
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/
#tocontact a{
    width: 90%;
    font-size: 1.5rem}
#company-info{ height: 400px}    
#contact-us{ padding-top: 30px}
#contact-us h2 a{
    width: 150px;
    height: 99px;
    margin: 0 auto 30px auto}
#company-address{
    width: 100%;
    padding: 0} 
#company-address h4{
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-bottom: 8px}
#company-address p{
    font-size: 1.3rem;
    line-height: 2rem}
#bar_PageNumber{
    width: 85%;
    text-align: left;
    margin: 0 auto}    

}


/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2.0), (min-resolution: 192dpi){
    .foot-logo,
    #top-menu h2 a{
        background: url(../images/logo-footer@3x.png) no-repeat;
        background-size: cover} 
    
}