@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    iPRC Official website
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v1.0 - 201905
*
*=====================================
* 0.Reset重置
* 1.通用設定
* 2.網站結構
* 3.選單設定
*   3-1.網站主選單
*   3-2.行動版選單
* 4.按鈕設定
* 5.首頁設定
*   5-1.頁首影片
*   5-2.服務項目
*   5-3.愛普團隊
*   5-4.專案展示
*   5-5.客戶列表
*   5-6.聯絡方式
*   5-7.版權列
* 6.等待載入動畫
* 7.Animate
* 8.自訂scrollbar
*=====================================
**/


/*
=====================================
reset重置
=====================================
*/
@import url("reset.css");

/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5%; scroll-behavior: smooth}
body{
	margin: 0;
	padding:0;
	background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
	font-family: "Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", "sans-serif";
    font-size: 1rem; /* 1rem=10px */
	color:#333333}
a:link {text-decoration:none; color:#00adee}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#77BD1F}
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: #77BD1F; color: #fff}
::-moz-selection { background: #77BD1F; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}


/*
=====================================
全站結構
=====================================
*/
#wrap{
    display: block;
    width: 100%;
    min-width: 1280px}

/*
=====================================
選單設定
=====================================
*/
/*網站主選單*/
/*行動版選單*/

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 180px;
    padding: 15px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}

/*
=====================================
首頁設定
=====================================
*/
/*頁首影片*/
/*服務項目*/
/*愛普團隊*/
/*專案展示*/
/*客戶列表*/
/*聯絡方式*/
/*版權列*/

/*
=====================================
等待載入動畫
=====================================
*/

/*
=====================================
Animate
=====================================
*/

/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #1C45FF;
  border: 0px none #fff;
  border-radius: 60px;	
  behavior: url(PIE.htc)}
::-webkit-scrollbar-thumb:hover {
  background: #1C45FF}
::-webkit-scrollbar-track {
  background: #1CB7FF;
  border: 0px none #fff;
  border-radius: 0;
  behavior: url(PIE.htc)}
