@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    iPRC Official website
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v1.0 - 201905
*
*=====================================
* 0.Reset重置
* 1.通用設定
* 2.網站結構
* 3.選單設定
*   3-1.網站主選單
*   3-2.行動版選單
* 4.按鈕設定
    4-1.返回頂端
* 5.首頁設定
*   5-1.頁首影片
*   5-2.服務項目
*   5-3.愛普團隊
*   5-4.專案展示
*   5-5.客戶列表
*   5-6.聯絡方式+版權列
* 6.等待載入動畫
* 7.Animate
* 8.自訂scrollbar
*=====================================
**/


/*
=====================================
reset重置
=====================================
*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,700&display=swap");

/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5%; scroll-behavior: smooth}
body{
	margin: 0;
	padding:0;
    background: url(../images/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family:"Noto Sans TC", "Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
    font-size: 1rem; /* 1rem=10px */
	color:#333333}
a:link {text-decoration:none; color:#77BD1F}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#bd681f}
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: #77BD1F; color: #fff}
::-moz-selection { background: #77BD1F; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}


/*
=====================================
全站結構
=====================================
*/
#wrap,
header,
#box_service,
#box_team,
#box_work,
#box_customer,
footer,
#tocontact,
#company-info,
#copyright{
    display: block;
    width: 100%;
    min-width: 1280px}

header{ 
    position: relative}
#box_vbg{
    display: block;
    max-width:100vw;
	height:100vh}
#header-main{
    display: block;
    position: absolute;
    top:50px;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
    min-width: 1280px;
    padding: 15px 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, .6)}
#tocontact{
    padding: 30px 0;
    background: #77bc1f}
#company-info{
    background: url(../images/bg_footer.jpg) no-repeat;
    background-position: top center;
    height: 438px}
#copyright{
    padding: 20px 0;
    background: #3d3935;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: #fff}

#box_service,
#box_team,
#box_work,
#box_customer{
    padding: 80px 0}
#box_service,
#box_work,
#box_customer{ background: #fff}
#box_work{ padding-bottom: 30px}
#box_customer{ padding-top: 0}

/*
=====================================
選單設定
=====================================
*/
/*網站主選單*/
#main-nav{
    display: block;
    float: right;
    width: 40%;
    text-align: right}
#main-nav li{
    display: inline;
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: .3rem;
    margin: 0 15px}
#main-nav a,
#main-nav a:visited{
    color: #fff;
    text-decoration: none;
    padding-bottom: 8px}
#main-nav a:hover{
    font-weight: 700;
    color: #77BD1F;
    text-decoration: none}
.fa-facebook{
    font-size: 1.8rem}
.hvr-underline{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden}
.hvr-underline:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #77BD1F;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out}
.hvr-underline:hover:before, 
.hvr-underline:focus:before, 
.hvr-underline:active:before{
    left: 0;
    right: 0}
#main-nav a.nowin{
    font-weight: 700;
    color: #77BD1F;
    border-bottom: 3px solid #77BD1F}

/*行動版選單*/

/*
=====================================
按鈕設定
=====================================
*/
/*返回頂端*/
#toTop{
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../images/ui.totop.png) no-repeat left top}
#toTopHover{
  background:url(../images/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0)}
#toTop:active, 
#toTop:focus {
  outline:none}

.mybtn,
.mybtn:visited{
    display: block;
    width: 180px;
    margin: 40px auto 0 auto;
    padding: 10px 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    color: #77bc1f;
    border: 2px solid #77bc1f;
    text-decoration: none}
.mybtn:hover{
    color: #fff;
    text-decoration: none;
    background: #466d14;
    transition-duration: .5s}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}

/*
=====================================
首頁設定
=====================================
*/
/*頁首*/
h1 a{
    display: block;
    float: left;
    width: 85px;
    height: 31px;
    background: url(../images/h1.png) no-repeat;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#header-main .fa-bars,
#header-main .fa-envelope{ display: none}
.fa-arrow-alt-from-top{
    display: block;
    font-size: 3rem;
    color: #fff;
    position: absolute;
    bottom: 2%;
    left: 50%;
    animation-name: mousemove;
	animation-duration: 1800ms;
    animation-iteration-count: infinite}
@keyframes mousemove {
    0%   { bottom: 2%}
    50%  { bottom: 0.5%}
    100% { bottom: 2%}
}
@-webkit-keyframes mousemove {
    0%   { bottom: 2%}
    50%  { bottom: 0.5%}
    100% { bottom: 2%}
}		
/*服務項目*/
#box_service h2,
#box_work h2{
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #333333;
    text-align: center;
    padding-bottom: 30px}
#container_service ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto}
#container_service li{
    display: inline-block;
    flex: 2;
    width: 300px;
    margin: 0 1%;
    vertical-align: top}
#container_service h3{
    display: table-cell;
    width: 300px;
    height: 60px;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto}
.service_info,
.service_info p{
    width: 300px;
    height: 600px}
.service_info{
    display: block;
    margin-top: 30px}
.service_info p{
    display: table-cell;
    padding: 0 0 30px 30px;
    background: rgba(0, 0, 0,.7);
    opacity: 0;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #fff;
    text-align: left;
    vertical-align: bottom}
.info-01{
    background: url(../images/pic_sever-01.jpg) no-repeat}
.info-02{
    background: url(../images/pic_sever-02.jpg) no-repeat}
.info-03{
    background: url(../images/pic_sever-03.jpg) no-repeat}
.info-04{
    background: url(../images/pic_sever-04.jpg) no-repeat}
.info-05{
    background: url(../images/pic_sever-05.jpg) no-repeat}

.service_item:hover>h3{
    color: #fff;
    background: #77BD1F;
    transition-duration: .5s}
.service_item:hover> .service_info p{
    opacity: 1;
    transition-duration: .5s}

/*愛普團隊*/
#container_team{
    display: block;
    width: 90%;
    margin: 0 auto}
#container_team h2{
    display: block;
    float: left;
    width: 40%;
    height: 500px;
    background: url(../images/bg_teamlogo.png) no-repeat;
    background-size: 500px 218px;
    background-position: 0 200px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#team_info{
    display: block;
    float: right;
    width: 60%}
#team_info h3{
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 4rem;
    color: #77bc1f;
    padding-bottom: 18px}
#team_info h3 span{
    font-size: 5rem;
    padding-right: 10px}
#team_info h4{
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    color: #77bc1f}
#team_info p{
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #fff;
    padding-bottom: 15px}

#our_customer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    padding-top: 40px}
#our_customer li{
    display: block;
    flex: 8;
    /*justify-content: space-between;*/
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #fff;
    padding-top: 80px}
#our_customer li:nth-child(1){
    background: url(../images/icon_service-01.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(2){
    background: url(../images/icon_service-02.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(3){
    background: url(../images/icon_service-03.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(4){
    background: url(../images/icon_service-04.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(5){
    background: url(../images/icon_service-05.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(6){
    background: url(../images/icon_service-06.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(7){
    background: url(../images/icon_service-07.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}
#our_customer li:nth-child(8){
    background: url(../images/icon_service-08.png) no-repeat;
    background-size: 70px 70px;
    background-position: 30px 0}

/*專案展示*/
#container_work{
    display: block;
    width: 90%;
    margin: 0 auto}
#container_work ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex: 5;
    text-align: center}
#container_work li{
    display: block;
    position: relative;
    width: 300px;
    height: 180px;
    margin: 1.2%}
#container_work img{
    display: block;
    width: 100%;
    height: auto}
#container_work .work-title{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 180px;
    padding: 10px;
    background: rgba(0,0,0,.7);
    opacity: 0}
#container_work .work-title:hover{
    opacity: 1;
    transition-duration: .5s}
#container_work .work-title>span{
    display: block;
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    bottom: 40%;
    margin: 0}
#container_work .work-title h3,
#container_work .work-title p{
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fff}

/*客戶列表*/
#container_customer{
    display: block;
    width: 1600px;
    margin: 0 auto}
#container_customer img{
    display: inline-block;
    margin: 0;
    padding: 0}
/*聯絡方式*/
#tocontact a{
    display: block;
    width: 370px;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #fff}
#tocontact a:hover{
    text-decoration: none;
    background: rgb(70, 109, 20);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s}
#contact-us{
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding-top: 110px}
#contact-us h2 a{
    display: block;
    float: left;
    width: 299px;
    height: 197px;
    background: url(../images/logo-footer.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#company-address{
    display: block;
    float: right;
    width: 52%;
    padding-right: 22px}
#company-address h4{
    font-size: 2.3rem;
    line-height: 3rem;
    padding-bottom: 8px}
#company-address p{
    font-size: 1.5rem;
    line-height: 2.5rem}

/*
=====================================
等待載入動畫
=====================================
*/
#loading{
    display:block;
	max-width:100vw;
	height:100vh;
    background:#609b15}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -107px;
    width: 214px;
    height: 150px;
    text-align: center}
.spinner p{
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    letter-spacing: 1px}
@keyframes ld-bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate(0%, -37%) scaleY(1.1);
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
}
@-webkit-keyframes ld-bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate(0%, -37%) scaleY(1.1);
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
}
.ld.ld-bounce {
  -webkit-animation: ld-bounce 1s infinite;
  animation: ld-bounce 1s infinite;
}


/*
=====================================
Animate
=====================================
*/

/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #6DB515;
  border: 0px none #fff;
  border-radius: 60px;	
  behavior: url(PIE.htc)}
::-webkit-scrollbar-thumb:hover {
  background: #6DB515}
::-webkit-scrollbar-track {
  background: #1D1F21;
  border: 0px none #fff;
  border-radius: 0;
  behavior: url(PIE.htc)}
